.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  font-weight: 300;
}

.movies {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-gap: 100px;
  padding: 50px;
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 70px;
}

@media screen and (max-width: 1024px) {
  .movies {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
